---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

<header>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  {% include menu-links.html %}
</div>

<!-- Use any element to open the sidenav -->
<span id="slid" onclick="openNav()"><i class="fa fa-align-left" aria-hidden="true"></i></span>


</header>
<!-- <h1 class="site-header">Scarlet Sillage</h1> -->
<div class="menu-bar">
    <ul>
        <li class="home-link"><a href="/">Home</a></li>
        <li class="home-link"><a href="/about/">About</a></li>
        <li class="home-link"><a href="/">Work</a></li>
    </ul>
</div>

<div id="main">




{{content}}



{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";    
}
</script>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
{% include analytics.html %}
</body>
</html>